body {
    padding: 0;
    margin: 0;
}

ul {
    margin: 0;
    padding-inline-start: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.header {
    height: 600px;
    background-color: #393E59;
}

/* 메뉴 */
.gnb {
    background-color: #010326;
    overflow: auto;
}

.gnb > ul > li > a {
    float: left;
    height: 80px;
    padding: 0 50px;
    display: flex;
    align-items: center;
    color: #F0F2F2;
}

/* 서브 메뉴 */
.g-sub {
    display: none;
    overflow: auto;
    position: absolute;
    top: 80px;
    background-color: #F0F2F2;
}

.sub1 {left: 0;}
.sub2 {left: 140.81px;}
.sub3 {left: 281.62px;}

.g-sub li > a {
    /* display:block; - li의 크기가 a의 크기에 맞춰짐 */
    display: block;
    text-align: center;
    width: 140.81px;
    box-sizing: border-box;
    padding: 10px 20px;
    border-bottom: 1px dashed #393e596e;
    color: #010326;
}

.g-sub li a:last-child {
    border: none;
}

/* 호버했을 때 서브 메뉴 보이기 */
.gnb > ul > li:hover .g-sub {
    display: block;
}

.gnb > ul > li > a:hover {
    background-color: #6FBFBF;
}

.g-sub li:hover a {
    background-color: #82D9D9;
    color: #393E59;
    font-weight: bold;
}