.t-box {
    width: 100px;
    height: 100px;
    background-color: yellowgreen;
}

/* 호버 > 테두리 전환 */
.transition-border {
    transition: border 1s;
    box-sizing: border-box;
}

.transition-border:hover {
    border: 5px solid tomato;
    transition-duration: 0s;
}

/* 체크 > 글자색 전환 */
.transition-input {
    transition: color 1s;
}

.transition-input:checked + span {
    color: tomato;
}

/* 이미지 호버 이펙트 */
.img-box {
    border: 1px solid tomato;
    display: inline-block;
    width: 400px;
    height: 300px;
    overflow: hidden;
    position: relative;
}

.img {
    height: 100%;
    position: absolute;
    left: -30px;
    transition: transform 0.5s;
}

.img-box:hover .img {
    transform: scale(1.2);
}

.img-box:hover::before {
    content: "food";
    display: inline-block;
    width: 400px;
    height: 300px;
    color: white;
    background-color: rgb(0, 0, 0, 0.5);
    z-index: 100;
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding-top: 125px;
}